html,body {
	overflow: hidden;
}
.icon {
       width: 3em; height: 3em;
       vertical-align: -0.15em;
       fill: #fff;
       overflow: hidden;
       z-index: 3;
       opacity: 0;
	}
.icon.active {
	opacity: 1;
}
.container {
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
}
.logo img {
	padding-top: 2vh;
	padding-left: 2vh;
	width: 30vw;
}
.pointer img {
	position: absolute;
	top: 0;
	height: 23vh;
	left: 45%;
	z-index: 10;
}
.filter,.bg {
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	z-index: -1;
}
.bg {
	background: url(http://p4.music.126.net/CtJUtX6-2uKBXotdxBGXVA==/18190320370485198.jpg) center no-repeat ;
	background-size: cover;
	filter: blur(30px);
}
.filter {
	background-color: #000;
	opacity: 0.5;
}
.discs {
	display: flex;
	margin: 0 auto;
	width: 100%;
	height: 60vh;
	border: 1px solid transparent;
	justify-content: center;
	align-items: center;
}
.discs img {
	position: absolute;
}
.discs .lighter,.record {
	animation: circling 20s linear infinite;
	animation-play-state: paused;
}
.wrapper,.lighter {
	width: 50vh;
}
.discs .record {
	border-radius: 50%;
	width: 31vh;
}
@keyframes circling {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
.title {
	text-align: center;
	font-size: 16px;
	margin-top: -3vh;
	margin-bottom: 0.5vh;
}
.title .name {
	font-size: 18px;
	color: #fff;
}
.title .artist {
	color: #aaa;
}
.lyrics {
	color: #aaa;
	text-align: center;
	height: 90px;
	overflow: hidden;
}
.lyrics p {
	font-size: 2vh;
	transition: transform 0.3s;
	text-align: center;
	line-height: 30px;
}
.buttonList {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	font-size: 18px;
}
.buttonList a {
	padding: 1vh 0;
	width: 50%;
	border-radius: 50px;
	line-height: 30px;
	text-align: center;
	margin: 1vh 1vh;
}
.buttonList a:first-child {
	border : 1px solid #C4463A;
	background-color: transparent;
	color: #C4463A;
}
.buttonList a:last-child {
	background-color: #C4463A;
	color: #fff;
}